.slist {
	display:none;
}
.slist:checked ~ .you_list {
	display:none
	}
.list {
	font-style:oblique;
	color:#0000FF;
}
.basics {
	background-color:#FFB6C1; 
}
.ert {
	background-color:#DDA0DD; 

}
body {
	background-color:#AFEEEE; 
}
.css {
	background-color:#20B2AA;
}
.font {
	font-style: oblique
font-weight: bold
}
